body {
    background-color: $color-bcg-clair;
    min-height: 100%;
}





.container {
    position: relative;
    top: 64px;
    width: 100%;
    height: calc(100vh - 64px);
}





section {
   @extend %flex-start-center;
    flex-direction: column;
    padding: 0 $marge-normal;
    width: 100%;
}


