/* ================================
* Generalités
=================================*/

h1,
h2,
h3,
h4,
a {
    color: $color-black;
    text-align: center;
    font-family: $police-title;
    letter-spacing: 2px;
}

h1 {
    margin: $marge-double 0;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}


h3 {
    font-size: 1em;
}

p {
    text-align: center;
    font-family: $police-text;
}

a {
    text-decoration: none;
}

// !!! A mettre dans card
ul{
    margin: 0 $marge-double;
    font-family: $police-title;

    li {
      margin: $marge-normal 0 0 $marge-normal;
    }
  }

/* ================================
* Spécificités
=================================*/

.accueil-box-text h1 {

    margin: $marge-double 0;
    @media screen and (min-width: $break-point-mobile) {
        font-size: 2.5em;
    }

    @media screen and (min-width: $break-point-tablet) {
        font-size: 3em;
    }

    @media screen and (min-width: $break-point-desktop) {
        font-size: 4em;
    }
}


.text--black {
    color: $color-black;
}

.text--white {
    color: $color-white;
}

.margin-top {
    margin-top: $marge-double;
}


#designer-copyright {
    padding: $marge-small;
    font-size: $police-title;
    font-size: 0.9em;
}

.text-align-left {
    text-align:left;
}