/* =================================
* Couleurs
==================================*/
$color-bcg-clair: #d2f7fa;
$color-bcg-fonce: #36b3a2;
$color-action: #7d3929;
$color-white: #fcfcff;
$color-black: #040f0f;
$color-blue: #32cbff;
$color-orange: #f3752b;
$color-marine: #003249;




/* ================================
* Balises HTML
=================================*/

.text--white {
    color: $color-white;
}

.text--black {
    color: $color-black;
}