/* =================================
* Marges
==================================*/
$marge-small: 4px;
$marge-normal: 8px;
$marge-double: 16px;
$marge-triple: 24px;

/* =================================
* Break points
==================================*/
$break-point-mobile: 375px;
$break-point-tablet: 1000px;
$break-point-desktop: 1200px;


/* =================================
* Tailles
==================================*/
$header-height: 64px;