.container-card {
    @extend %flex-center-center;
    width: 100%;
}

.big-card {
    @extend %flex-start-center;
    flex-direction: column;
    //width: 90%;
    max-width: 800px;
    margin: $marge-triple $marge-double;
    border-radius: 16px;
    @extend %boxShadow2;
    background-color: $color-white;
}

.big-card__title {
    width: 100%;

    h1 {
        padding: $marge-small $marge-normal;
    }
}

.big-card__image {
    height: 180px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: $break-point-tablet) {
        height: 300px;
    }
}

// Images des cards
#card-image-nutrition {
    background-image: url("images/photos/card-nutrition.jpg");
    background-position: bottom;
}

#card-image-sport {
    background-image: url("images/photos/card-sport.jpg");
    background-position: center;
}

#card-image-stress {
    background-image: url("images/photos/card-stress.jpg");
    background-position: center;
}

#card-image-vitalite {
    background-image: url("images/photos/card-vitalite.jpg");
    background-position: center;
}

#card-image-chi-nei {
    background-image: url("images/photos/chi-nei-tsang 1.jpg");
    background-position: bottom;
}

#card-image-massage-dien {
    background-image: url("images/photos/massage-dien-chan1.jpg");
    background-position: center;
}

.big-card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $marge-normal;

    @media screen and (min-width: $break-point-tablet) {
        max-width: 80%;
    }
    h3 {
        margin: $marge-triple 0;
    }
    
    p {
        margin: $marge-double 0;
        font-family: $police-title;
        line-height: 24px;
    }
    
    ul {
        margin: $marge-normal $marge-small $marge-normal $marge-triple;
    }
    
    li {
        margin: $marge-normal 0;
    }
}


.box-title {
    margin: $marge-double auto;

    @media screen and (max-width: $break-point-mobile) {
        h2 {
            font-size: 1em;
        }
    }
}
