.btn-call-me {
    background: $color-action;
    width: 300px;
    border-radius: 999px;
    margin: 16px 0;
    @extend %boxShadow2;

    a {
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: $police-title;
        font-weight: bold;
        color: $color-white;
        font-size: 1em;
        padding: 8px 0;
    }
}

a[href^="tel"],
a[href^="mailto"] {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: $police-title;
    font-weight: bold;
    color: $color-white;
    font-size: 1.2em;
    padding: 8px 0;
}
a[href^="tel"]::before {
    content: "📞 ";
}

a[href^="mailto"]::before {
    content: "📧 ";
}