/* ================================
# Plumes
=================================*/

.box-plume {
    margin: $marge-double;
    height: 56px;
    width: 56px;
}

.plume--blanche,
.plume--verte,
.plume-mouvement {
    background-position: center;
    background-repeat: no-repeat;
}


.plume--blanche {
    background-image: url("images/plumes/plume-blanche.svg");
    height: 100%;
}


.plume--verte,
.plume-mouvement {
    background-image: url("images/plumes/plume-verte.svg");
    height: 100%;
}


.plume-mouvement {
    position: absolute;
    top: 45%;
    left: 70%;
    height: 56px;
    width: 56px;
    animation: plumevent 5s ease-in-out infinite;

    @media screen and (min-width: $break-point-tablet) {
        top: 10%;
        left: 40%;
         height: 80px;
        width: 80px;
      }
}

@keyframes plumevent {
    0% {
        transform: rotate(10deg) translateX(-15px);
    }
    50% {
        transform: rotate(-40deg) translateX(15px);
    }
    100% {
        transform: rotate(10deg) translateX(-15px);
    }
}

/* ================================
# Titres encadrés
=================================*/

.box-title {
    background-color: $color-bcg-fonce;
    margin: $marge-triple 0;
    padding: $marge-normal;
    width: 90%;
    max-width: 1086px;
    text-align: center;
    @extend %boxShadow4;

    h1,
    h2 {
        margin: 0;
        color: $color-white;
    }
}


/* ================================
# Texte résumé
=================================*/

.box-resume {
    width: 90%;
    max-width: 1086px;
    letter-spacing: 1px;

    p {
        margin: $marge-double 0;
        text-align: justify;
    }
}

/* ================================
# Card (Section Card)
=================================*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: $marge-normal;
    border-radius: 16px;
    background-color: $color-white;
    height: 500px;
    width: 300px;
    overflow: hidden;
    @extend %boxShadow4;

    @media screen and (min-width: $break-point-tablet) {
        margin: $marge-double;
        width: 330px;
    }
}

.card-title {
    @extend %flex-center-center;
    height: 80px;
    h2 {
        margin: $marge-normal 0;
    }
}

.card-image {
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
    }

    .card-image__woman {
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        height: 120px;
        width: 120px;
    }
}

.card-resume {
    height: 196px;
    
    p{
      padding: $marge-normal;
      font-family: $police-title;
      font-size: 1.2em;
    }
  }

.card-btn-action{
   margin: $marge-double 0;
   display: flex;
   justify-content: center;
    
    button{
        outline: none;
        cursor: pointer;
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 999px;
        @extend %boxShadow2;
        background-color: $color-action;
        padding: $marge-small $marge-double;
        font-family: $police-title;
        color: $color-white;
        white-space: nowrap;
    }
  }

