footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: $marge-normal;
    background-color: $color-bcg-fonce;
    color: $color-white;


    p,
    a {
        margin: 0 auto;
        padding: 8px 0;
        color: $color-white;
        font-family: $police-text;
        font-size: 14px;
    }

}
